body{
    margin:50px;
}
table{
    border-collapse: collapse;
    text-align: center;
    td{
        padding:0;
        border:2px solid black;
    }
    td{
        padding: 10px;
    }
    thead{
    background-color: #f5f5f5;
    }
    .drugi{
        padding-left:50px;
        padding-right: 50px;
    }
}
#Tabela{
    display: flex;
    gap: 20px; /* Optional spacing between table and form */
    margin: 50px;
    height: 160px;
    align-items: flex-start; /* Align top edges */
}
form{
    border: 1px solid black;
    padding-left: 10px;
    padding-top:5px;
    
    height: 160px;
    width: 210px;
    font-size: 15px;

}
#submit{
    float:right;
    margin-right: 20px;
    border:1px solid black;
}
input{
    border:none;
    border-bottom:1px solid black
}
p{
    margin-left:50px;
}
#detalji{
    margin:50px;
    border: 1px solid black;
    width: 200px;
    display: none;
}

